
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input,
button {
  padding: 10px;
  margin: 5px;
}

button {
  background-color: #de2547;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(236, 72, 149, 0.69);
}

hr {
  border: 1px solid #f1f1f1;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.styles {
  color: rgb(240, 156, 253);
}

